.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.container {
    margin-top: 5%;
    margin-left: 25%;
    height: 450px;
    width: 500px;
    border: 1px solid rgb(245, 85, 46);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 1);
}

.closeButton {
    margin-top: 20px;
    text-align: end;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.fields {
    margin-bottom: 40px;
}

.button {
    background-color: rgb(245, 85, 46);
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: rgb(245, 85, 46);
        border: 1px solid rgb(245, 85, 46);
    }
}

.input-container input {
    margin: 20px;
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 300px;
    padding: 8px 0 5px 0;
    font-size: 12px;
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
}